@import "modules/env";

body {
  width: 100%;
  font-family: $font1;
  background-color: $color-black;
}

@import "modules/header";

@import "modules/mv";

@import "modules/fontArea";

@import "modules/content";

@import "modules/textBox";

@import "modules/paralax";

@import "modules/h3only";

@import "modules/swiper";

@import "modules/bottleIntro";

@import "modules/movie";

@import "modules/footer";

@import "modules/mvScroll";

// @import "modules/mvScroll";
